footer{
    background-color: #383838;
    padding: 1rem 0;
    a.sourceCode{
        display: flex;
        justify-content: center;
        color: whitesmoke;
        margin-bottom: 1rem;
        text-decoration: none;
        span{
            margin-right: 0.5rem;
        }
    }

    h3{
        text-align: center;
        text-transform: uppercase;
        color: #A9D562;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    div.developers{
        display: flex;
        justify-content: center;
        align-items: center;
        a:first-child{
            margin-right: 2rem;
        }
        a{
            color: #00acee;
            svg{
                margin-right: 0.3rem;
            }
        }
    }
}