*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #efefef;
}
/* Main page */
.bg-color {
  background-color: #f2f2f2;
}
.cover-img {
  width: 100%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.conference-card {
  position: relative;
  margin-bottom: 1.5rem;
  /* width: 12rem;
  height: 14rem; */
  border-radius: 5px;

  background: #fff;
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  transition: box-shadow ease-in-out 100ms, transform ease-in-out 100ms;
}
.conference-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  transition: box-shadow ease-in-out 100ms, transform ease-in-out 100ms;
}

.card-image {
  border-radius: 5px 5px 0px 0px;
}

li {
  list-style-type: none;
}

.card-ml {
  margin-left: 2rem;
  margin-right: 2rem;
}
.center-text {
  text-align: center;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 13px;
  color: #222222;
  display: flex;
  padding: 0.2rem;
  text-transform: uppercase;
}

.icon-mr {
  margin-right: 0.35rem;
}

.btn-conferences {
  margin: 5rem auto 0 auto;
  display: block;
  border-radius: 25px;
  width: 250px;
  height: 30px;
  background-color: #502e77;
  color: #fff;
  /*margin-top: 5rem;*/
}

.search-bar {
  border-radius: 25px;
  width: 400px;
  height: 20px;
  background: url("/images/search.svg") no-repeat;
  background-position: 90% 0;
  background-size: 20px;
}

.form-position {
  display: block;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

::placeholder {
  padding-left: 1rem;
}

.btn-calendar {
  border: none;
  margin-left: 1rem;
}

/* Nav */
.space-between {
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
}

.nav {
  padding: 5px 30px;
}

.nav-bg {
  background-color: #29576f;
}

.right {
  position: absolute;
  right: 0;
}
/* countdown for conferences */
a.conferenceLink {
  text-decoration: none;
}
div.countdown {
  background-color: rgba(19, 7, 24, 0.8);
  width: 100%;
  height: 42px;
  margin: 0px;
  text-align: center;
  margin-top: -45px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.countdown span {
  color: white;
  font-weight: bold;
}
div.countdown span.timer {
  font-size: 14px;
  letter-spacing: 1px;
}
div.countdown span.timeLabels {
  font-size: 10px;
  word-spacing: 2px;
}

// header
// problem: it is hardcoded and does not work with small screens
header {
  position: absolute;
  margin-left: 8rem;
  top: 8rem;
  h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: #a9d562;
  }
  p {
    width: 400px;
    color: rgba(169, 213, 98, 0.8);
    font-size: 1.2rem;
    line-height: 1.5;
    word-spacing: 2px;
  }
}
