html, body, #app {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

/* Main page */

.bg-color {
  background-color: #f2f2f2;
}

.cover-img {
  width: 100%;
  height: 30%;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-ml {
  margin-left: 10rem;
  margin-right: 10rem;
}

.conference-card {
  position: relative;
  margin-bottom: 1rem;
  width: 12rem; 
  height: 14rem;
  border-radius: 1px;
  background: #fff;
}

.center-text {
  text-align: center;
}

.card-title {
  font-size: 0.8em;
  margin-left: 1rem;
}

.card-text {
  font-size: 0.6em;
  margin-left: 1rem;
}

.icon-mr {
  margin-right: 0.5rem;
}

.btn-conferences {
  margin: 5rem auto 0 auto;
  display: block;
  border-radius: 25px;
  width: 250px;
  height: 30px;
  background-color: #502e77;
  color: #fff;
  /*margin-top: 5rem;*/
}

.search-bar {
  border-radius: 25px;
  width: 400px;
  height: 20px;
  background: url(./images/search.svg) no-repeat;
  background-position: 90% 0;
  background-size: 20px;
}

.form-position {
  display: block;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Nav */

.space-between {
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: row;
}

.nav-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.nav li {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
}

.nav {
  padding: 5px 30px;
}

.nav-bg {
  background-color: #29576f;
}

.right {
  position: absolute;
  right: 0;
}

